<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <%if(type=='ptm'){%>
    
    
    
            <%}%>
            <%if(type=='upi'){%>
           <div style="text-align: center">
        
        
        
                <img src="/UPI.jpeg" alt=""> <br>
                Pay to VentureSky@upi
           </div>
        
        
            <%}%>
</body>
</html>